# Python Tutorial

MLclass1_pythonTutorial --- MachineLearning Course TA class --- Shahid Beheshti University --- [Sajjad Rezvani Khaldi](https://github.com/sajjadrezvani)

In [ ]:
input1 = input('enter your number: ')
print( input1 )

enter your number: 87
87

string

In [ ]:
name = 'mammad'
print( f' hello {name} how are you?')

 hello mammad how are you?

In [ ]:
str1 = '  how are you? '
str1[2:8:]
str1[::-1]

'?uoy era woh'

In [ ]:
list(str1)
str1*2
str1.index('you')
num = str1.count('o')
str1.split(' ')
str1.upper()
str1.replace('o','a')
str1.strip()

'how are you?'

list

In [ ]:
ls = ['ali' , 'mahsa', 'hamed','sara','hamid']
ls2 = ['hossein', 'ghazal']
ls[2]
ls[2:]
ls[:4]
ls[::2]
ls[1::2]
ls[::-1]
ls[2]= 'sajjad'
ls

['ali', 'mahsa', 'sajjad', 'sara', 'hamid']

In [ ]:
# ls.append('sheida')
mylist = ls + ls2
# print(mylist)
mylist.index('mahsa')
mylist.count('sheida')
ls4 = ls*2
set(ls4)

{'ali', 'hamid', 'mahsa', 'sajjad', 'sara', 'sheida'}

In [ ]:
import numpy as np

ls2 = [ 23 , 44, 54]
min(ls2)
max(ls2)
sum(ls2)
np.array(ls2)

array([23, 44, 54])

dictionary

In [ ]:
dic = { 'ali' : 22 , 'mahsa' : 18 , 'hamed': [74 , 44]}
dic['mahsa']
dic['hamed']
lst = list(dic.values())
lst[1]
# type(dic.values())
dic.keys()
list(dic.items())[2]

('hamed', [74, 44])

In [ ]:
type(lst)

list

In [ ]:
mytuple = ('ali','hossein')

In [ ]:
a = 4e5
a

400000.0

if, loop, functions

In [ ]:
b = 3
if a == 5 and b == 3:
    print('hi')
elif a == 4e5:
    print('thats right')
else : 
    print('by')

thats right

In [ ]:
for i,j in enumerate(str1):
    if j == 'a':
        break
    print(i,j)

0 h
1 o
2 w
3

In [ ]:
def myfunction(a,b):
    return a+b 

myfunction(4,5)

9

In [ ]:
denum = int(input('enter your denum:'))
print(type(denum))
if denum == 0 : 
    raise ValueError('shit happend')

enter your denum:1
<class 'int'>

In [ ]:
a = 0
while a<10:
    a+=1
    print(a)

1
2
3
4
5
6
7
8
9
10

In [ ]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [ ]:
1==2 and 2==3 or 4==4

True

end of session one